@model PostsAddFormModel
@{
    ViewBag.Title = "Create Post";
}

@section Breadcramps {
    <ol class="breadcrumb">
        <li><a href="@Model.PostsUrl"><i class="fa fa-dashboard"></i> Posts</a></li>
        <li class="active"><a href="#"> @ViewBag.Title</a></li>
    </ol>
}


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                General Properties
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" id="title" value="" />
                            <span class="error-text"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Slug</label>
                            <input type="text" class="form-control" id="slug" value="" />
                            <span class="error-text"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cover Photo</label>
                            <input type="text" class="form-control" id="cover-photo" value="" />
                            <span class="error-text"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control" id="category">
                                <option value=""></option>
                            </select>
                            <span class="error-text"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Language</label>
                            <select class="form-control" id="language">
                                <option value=""></option>
                                @foreach (var postLanguage in Model.Languages)
                                {
                                    <option @(postLanguage.IsSelected ? Html.Raw("selected='selected'") : null) value="@postLanguage.Key"> @postLanguage.Value</option>
                                }
                            </select>
                            <span class="error-text"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" id="status">
                                <option value=""></option>
                                @foreach (var postStatus in Model.Statuses)
                                {
                                    <option @(postStatus.IsSelected ? Html.Raw("selected='selected'") : null) value="@postStatus.Key">@postStatus.Value</option>
                                }
                            </select>
                            <span class="error-text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                Post Description
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea id="description" class="form-control" cols="4" rows="40"></textarea>
                            <span class="text-error"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterSection {
    <script src="~/Content/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/Content/plugins/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Content/plugins/tinymce/tinymceConfig.js"></script>
    <script src="~/Areas/Admin/Content/scripts/Post/PostsAdd.js"></script>
}
